<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Проекты{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100">
    <!-- Навигация -->
    <nav class="bg-white shadow-lg py-4">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center">
                <a href="/project/get" class="text-3xl font-bold text-gray-800">
                    Проекты
                </a>
                <div class="flex items-center gap-6">
                    <a href="/pages/base" class="text-lg text-gray-600 hover:text-gray-800 transition">
                        Главная
                    </a>
                    <a href="/task/get_all" class="text-lg text-gray-600 hover:text-gray-800 transition">
                        Задачи
                    </a>
                    <a href="/user/all" class="text-lg text-gray-600 hover:text-gray-800 transition">
                        Сотрудники
                    </a>
                    <!-- Проверка на наличие access_token -->
                    {% if request.cookies.get('access_token') %}
                        <a href="/pages/logout" class="text-lg text-red-500 hover:text-red-700 transition">
                            Выйти
                        </a>
                    {% else %}
                        <a href="/pages/login" class="text-lg text-green-500 hover:text-green-700 transition">
                            Войти
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Контент -->
    <main class="container mx-auto px-4 py-10">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Добро пожаловать в Панель Управления Проектами</h2>
            <p class="mb-6 text-gray-600">
                Здесь вы можете управлять проектами и задачами.
            </p>
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Футер -->
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto px-4">
            <p class="text-center">
                © 2024 Панель Управления Проектами. Все права защищены.
            </p>
        </div>
    </footer>
</body>
</html>
