{% extends "base_admin.html" %}

{% block title %}
    Задача успешно создана
{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-6">Задача успешно создана</h1>

    <!-- Детали созданной задачи -->
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">{{ task.name }}</h2>
        <p class="text-gray-600 mb-4">{{ task.description }}</p>

        <ul>
            <li><strong>Проект:</strong> {{ task.project_name }}</li>
            <li><strong>Ответственный:</strong> {{ task.contractor_email }}</li>
            <li><strong>Дата начала:</strong> {{ task.date_from }}</li>
            <li><strong>Дата завершения:</strong> {{ task.date_to }}</li>
            <li><strong>Тип задачи:</strong> {{ task.type_task.value }}</li>
            <li><strong>Статус:</strong> {{ task.status.value }}</li>
        </ul>

        <!-- Кнопки действий -->
        <div class="mt-6">
            <a href="/task/get_all" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                Вернуться к списку задач
            </a>
            <a href="/admin/create_task" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition ml-4">
                Создать новую задачу
            </a>
        </div>
    </div>
{% endblock %}
