{% extends "base.html" %}

{% block head %}
    <title>Проекты</title>
{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-6">Проекты</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
        {% if projects %}
            <ul>
                {% for project in projects %}
                    <li class="mb-4">
                        <a href="/project/{{ project.id }}" class="text-lg text-blue-600 hover:text-blue-800 transition">
                            {{ project.name }}
                        </a>
                        <p class="text-sm text-gray-600">{{ project.description }}</p>

                        <!-- Кнопка для перехода к задачам проекта -->
                        <div class="mt-4">
                            <a href="/task/by_project?project_id={{ project.id }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                                Задачи проекта
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пока нет доступных проектов.</p>
        {% endif %}
    </div>
{% endblock %}